body	{
	background-color: #292929;
}

div#container {
	position: absolute;
	left:50%;
	top: 50px;
	margin-left: -410px;
}

div#container2 {
	position: relative;
	top: -50px;
	height: 100px;
	margin-left: -410px;
	hejsimon

}

div#headerlayer{
	position: relative;
	background-color: black;
	height: 200px;
	width: 4000px;
	left: 50%;
	margin-left: -875px;
	

}

div#header {
	position: relative;
	background-color: #174C4F;
	height: 50px;
	width: 800px;
	left: 50%;
	margin-left: -1330px;
	top:150px;
	border-radius: 15px;
}

h1#headerh1 {
	color: red;
	margin-left: 115px;
}

div#content {
	position: absolute;
	width: 800px;
	height: 1200px;
	top: 100px;
	background-color: #207178;
	border-radius: 40px;
}

div#menu {
	position: absolute;
	top: 100px;
	height: 1200px;
	width: 
}